*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0d1117;
color:#fff;
}

header{
padding:20px 8%;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 8%;
min-height:90vh;
flex-wrap:wrap;
}

.content{
max-width:550px;
}

.content h1{
font-size:55px;
margin-bottom:20px;
}

.content p{
line-height:1.8;
margin-bottom:30px;
color:#b8c1cc;
}

button{
padding:15px 35px;
background:#0078d4;
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#005fa3;
}

.image img{
width:500px;
max-width:100%;
animation:float 3s ease-in-out infinite;
}

@keyframes float{
50%{
transform:translateY(-15px);
}
}

@media(max-width:900px){

.hero{
text-align:center;
justify-content:center;
}

.content{
margin-bottom:50px;
}

nav{
flex-direction:column;
gap:20px;
}

}